NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth Client ID (Public)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=674217861639-got5l3ql0pqojc0tkutkko8rpfum2qd2.apps.googleusercontent.com

# Facebook OAuth App ID (Public)
NEXT_PUBLIC_FACEBOOK_APP_ID=4317734391872375
